.btccontainer {
    margin-top: 2%;
    text-align: center;
}

.left {
    margin-left: -8%;
}

.stack {
    font-size: 30px;
    font-weight: bolder;
}
.stack1 {
    z-index: 10 !important;
    animation: blurry 1s infinite normal, shake 0.5s infinite normal;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.stack2 {
    margin-top: -40px;
    z-index: -1;
    animation: glitch-left 1.5s infinite normal;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
.stack3 {
    margin-top: -50px;
    z-index: -1;
    animation: glitch-right 1.5s infinite normal;
    transition-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
}

@keyframes glitch-left {
    20%, 100% {
        opacity: 0;
        transform: translateX(-5px) translateY(-5px) skew(-7deg);;
    }
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
        transform: translateX(-5px) translateY(-5px) skew(7deg);
        color: red;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: blue;
    }
}

@keyframes blurry {
    0%, 20%, 100% {
        blur: 0%;
    }
    10% {
        filter: blur(50%);
        transform: skew(15deg);
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: white;
    }
    30%, 50% {
        blur: 50%;
        transform: skew(-10deg);
        text-decoration: 5px line-through rgba(82, 168, 91, 0.65);
    }
    50% {
        transform: skew(10deg);
    }
}

@keyframes glitch-right {
    20%, 100% {
        opacity: 0;
        transform: translateX(5px) translateY(5px);
    }
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
        transform: translateX(3px) translateY(1px) skew(-7deg);
        color: blue;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: red;
    }
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.05em) rotate(0deg);
    }
    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }
    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.05em, 0.018em) rotate(0deg);
    }
    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.05em, -0.018em) rotate(0deg);
    }
    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}