#navbar {
    width: 100%;
}
.navigation {
    color: #000000;
    font-weight: bolder;
    z-index: 12;
}
.navbar-brand {
    height: 80px;
    width: auto;
}
a {
  position: sticky;
  background-image: linear-gradient(180deg, transparent 65%, #05702e 0);
  background-size: 0 150%;
}
a:hover {
    transition: all 0.3s ease;
    background-size: 100% 150%;
    opacity: 0.5;
}
.dropdown-menu {
    width: auto;
    height: auto;
    color: white;
    width: 0px;
    background: rgb(82, 168, 52, 0.5);
    border-radius: 10%;
    margin-left: 22px;
    margin-top: 0px;
}
.dropdown-menu li:hover {
    background-color: rgb(187, 205, 180);
    color: black;
    transition: 0.5s ease-in-out;
}