{% extends 'authenticate/base.html' %}
{% load static %}

{% block content %}

<div class="card change-password text-center">
    <form method="POST" action="{% url 'change_password' %}">
        <h1>CHANGE PASSWORD</h1>
        {% csrf_token %}

        {{ form.as_p }}

        <div class="center">
            <button class="Btn btn" type="submit" value="register">
                <svg width="auto" height="40px" viewBox="0 0 130 40" class="border">
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                    <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                </svg>
                <span>change password</span>
            </button>
        </div>

    </form>
</div>
{% if form.errors %}
        <div class="container">
            <div class="alert alert-danger" role="alert" style="background: linear-gradient(135deg, black, #4f0205 40%, #800e12, #b51b20, #f5363c);">
                <p class="mb-0"><i class="fa-solid fa-xmark" style="fill: white;"></i> &nbsp; PASSWORD CHANGE ERROR </p>
            </div>
        </div>
    <script type="text/javascript" src="{% static '/js/base/loginAlertsAction.js' %}"></script>
{% endif %}

<link rel="stylesheet" href="{% static '/css/changePassword.css' %}" >
<link rel="stylesheet" href="{% static '/css/base/button.css' %}" >

{% endblock %}
