{% extends 'authenticate/base.html' %}
{% load static %}

{% block content %}

<div class="Background text-center">
    <div class="row BackRow">
        <div class="col">
            <a href="https://www.google.com" target="_blank" style="text-decoration:none;"}>
                <div class="card BackCard TopLeftCard">
                    <div class="pad-box">
                        <div class="outer-pad"></div>
                        <div class="inner-pad">
                            <h6 class="help-text">?</h6>
                        </div>
                        <div class="arm1"></div>
                        <div class="elbow"></div>
                        <div class="arm2"></div>
                        <div class="text">
                            <span id="walletText">TEXT</span>
                        </div>
                    </div>
                    <h4>WALLET ANALYTICS</h4>
                    <div>
                        <div class="ChartContainer">
                            <div class="Graph">
                                <div class="row"><div class="Data Data1"></div></div>
                                <div class="row"><div class="Data Data3"></div></div>
                                <div class="row"><div class="Data Data5"></div></div>
                                <div class="row"><div class="Data Data2"></div></div>
                                <div class="row"><div class="Data Data4"></div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://www.google.com" target="_blank" style="text-decoration:none;"}>
                <div class="card BackCard TopCenterCard">
                    <div class="pad-box">
                        <div class="outer-pad"></div>
                        <div class="inner-pad">
                            <h6 class="help-text">?</h6>
                        </div>
                        <div class="arm1"></div>
                        <div class="elbow"></div>
                        <div class="arm2"></div>
                        <div class="text">
                            <span id="ursaText">TEXT</span>
                        </div>
                    </div>
                    <h4>uR.S.A.</h4>
                    <div class="row happy-row">
                        <div class="col">
                            <div class="angry head">
                                <div class="lefteye"></div>
                                <div class="righteye"></div>
                                <div class="mouth"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="neutral head">
                                <div class="lefteye"></div>
                                <div class="righteye"></div>
                                <div class="mouth"></div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="happy head">
                                <div class="lefteye"></div>
                                <div class="righteye"></div>
                                <div class="mouth"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://www.google.com" target="_blank" style="text-decoration:none;"}>
                <div class="card BackCard TopRightCard">
                    <div class="pad-box">
                        <div class="outer-pad"></div>
                        <div class="inner-pad">
                            <h6 class="help-text">?</h6>
                        </div>
                        <div class="arm1"></div>
                        <div class="elbow"></div>
                        <div class="arm2"></div>
                        <div class="text">
                            <span id="whaleText">TEXT</span>
                        </div>
                    </div>
                    <h4>WHALE WATCH</h4>
                    <div class="col-md-7">
                        <div class="card">
                            <div class="blue-ocean">
                                <div class="blue-whale-line1"></div>					
                                <div class="blue-whale">
                                    <div class="blue-whale-main">
                                        <div class="blue-whale-eye"></div>
                                        <div class="gill-container">
                                            <div class="blue-whale-gill"></div>
                                        </div>
                                        <div class="blue-whale-color"></div>
                                        <div class="blue-whale-color-bottom"></div>
                                    </div>
                                    <div class="blue-whale-backside">
                                        <div></div>
                                    </div>
                                    <div class="blue-whale-flipper"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row BackRow">
        <div class="col">
            <a href="https://www.google.com" target="_blank" style="text-decoration:none;"}>
                <div class="card BackCard MidLeftCard">
                    <div class="pad-box">
                        <div class="outer-pad"></div>
                        <div class="inner-pad">
                            <h6 class="help-text">?</h6>
                        </div>
                        <div class="arm1"></div>
                        <div class="elbow"></div>
                        <div class="arm2"></div>
                        <div class="text">
                            <span id="btcText">TEXT</span>
                        </div>
                    </div>
                    <h4>BITCOIN: THE FULL STORY</h4>
                    <div class="btccontainer">
                        <h1 style="font-size: 60px;"><i class="fa-brands fa-bitcoin" style="color: orange;"></i></h1>
                        <div class="stack" style="color: orange;">
                            <div class="row stack1">
                                <span>BITCOIN <i class="fa-brands fa-bitcoin"></i></span>
                            </div>
                            <div class="row stack2">
                                <span>BITCOIN <i class="fa-brands fa-bitcoin"></i></span>
                            </div>
                            <div class="row stack3">
                                <span>BITCOIN <i class="fa-brands fa-bitcoin"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://www.google.com" target="_blank" style="text-decoration:none;"}>
                <div class="card BackCard MidCenterCard">
                    <div class="pad-box">
                        <div class="outer-pad"></div>
                        <div class="inner-pad">
                            <h6 class="help-text">?</h6>
                        </div>
                        <div class="arm1"></div>
                        <div class="elbow"></div>
                        <div class="arm2"></div>
                        <div class="text">
                            <span id="cryptoText">TEXT</span>
                        </div>
                    </div>
                    <h4>Cryptocurreny News</h4>
                    <div class="border">
                        <div class="costline">
                            <p>$7.00</p> <p style="color: #03dffc;">Metro</p> <p>Nov. 1, 2008</p>
                        </div>
                        <div class="headline">CRYPTO Ḉ NEWS</div>
                        <div class="subtext">The Worlds' Crypto News</div>
                        <div class="mainstory">
                            <div class="maintagline">TRUSTLESS FINANCE FOR ALL</div>
                            <div class="maintext">est. <p>2008</p></div>
                            <div class="mainimage">
                                <h6 style="z-index: 10; margin-top: -43%; margin-left: 50%; font-size: 60px;"><i class="fa-brands fa-bitcoin" style="color: orange;"></i></h6>
                            </div>
                            <div class="mainsubtext">Who is Satoshi Nakamoto?</div>
                            <div class="pagenumber">PAGE 77</div>
                        </div>
                        <div class="substory">
                            <div class="subimage">
                                <h6 style="margin-top: 10%; margin-left: 0%; font-size: 30px;">
                                    <i class="fa-brands fa-ethereum" style="color: silver;"></i>
                                </h6>
                            </div>
                            <div class="subtagline">
                                The king of the alts
                                <div class="subtext2">
                                    Welcome, Vitalyk, creator of the king.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="https://www.google.com" target="_blank" style="text-decoration:none;"}>
                <div class="card BackCard MidRightCard">
                    <div class="pad-box">
                        <div class="outer-pad"></div>
                        <div class="inner-pad">
                            <h6 class="help-text">?</h6>
                        </div>
                        <div class="arm1"></div>
                        <div class="elbow"></div>
                        <div class="arm2"></div>
                        <div class="text">
                            <span id="ethText">TEXT</span>
                        </div>
                    </div>
                    <h4>ETHEREUM & THE ALTS</h4>
                    <div class="ethcontainer">
                        <h1 style="font-size: 60px;"><i class="fa-brands fa-ethereum" style="color: silver;"></i></h1>
                        <div class="estack" style="color: silver;">
                            <div class="row estack1">
                                <span>ETHEREUM <i class="fa-brands fa-ethereum"></i></span>
                            </div>
                            <div class="row estack2">
                                <span>ETHEREUM <i class="fa-brands fa-ethereum"></i></span>
                            </div>
                            <div class="row estack3">
                                <span>ETHEREUM <i class="fa-brands fa-ethereum"></i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{% static '/css/background.css' %}">
<link rel="stylesheet" href="{% static '/css/backgroundButton.css' %}">
<link rel="stylesheet" href="{% static '/css/backgroundBitcoinStyle.css' %}">
<link rel="stylesheet" href="{% static '/css/backgroundChartStyle.css' %}">
<link rel="stylesheet" href="{% static '/css/backgroundEthereumStyle.css' %}">
<link rel="stylesheet" href="{% static '/css/backgroundNewsStyle.css' %}">
<link rel="stylesheet" href="{% static '/css/backgroundUrsaStyle.css' %}">
<link rel="stylesheet" href="{% static '/css/backgroundWhaleStyle.css' %}">
<script type="text/javascript" src="{% static '/js/backgroundButton.js' %}"></script>
{% endblock %}
