{% extends 'authenticate/base.html' %}
{% load static %}

{% block content %}

<div class="card change-password text-center">
        <h1>PASSWORD RESET SUCCESS</h1>
        <h3>Your password has been successfully updated.</h3>
        <a href="{% url 'login' %}">
            <div class="center">
                <button class="Btn btn" type="submit" value="register">
                    <svg width="auto" height="40px" viewBox="0 0 130 40" class="border">
                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                        <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                    </svg>
                    <span>login</span>
                </button>
            </div>
        </a>
</div>

<link rel="stylesheet" href="{% static '/css/changePassword.css' %}" >
<link rel="stylesheet" href="{% static '/css/base/button.css' %}" >

{% endblock %}
